<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AdminPage</title>
</head>

<body>
<h1>--- Admin Page ---</h1>
<!-- Button to go to Create Page-->
<div>
<form action = "/Create" method="post"></form>
<button type="submit"> Create </button>
<!-- Button to go to Read Page-->
<form action = "/Read" method="post"></form>
<button type = "submit"> Read </button>
<!-- Button to go to Update Page-->
<form action = "/Update" method="post"></form>
<button type = "submit"> Update</button>
<!-- Button to go to Delete Page-->
<form action = "/Delete" method="post"></form>
<button type = "submit"> Delete</button>
</div>
</body>
</html>