<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
</head>
<body>

<h1>--- Login Page ---</h1>
<form action="/MainPage" method="post">
    Username: <input type="username" username="username" placeholder="Write your username">
    <br>
    Password: <input type="password" placeholder="Write your password" id="myInput">
    <br><br>
    Show Password: <input type="checkbox" onclick="myFunction()">
    <br>
    Submit login: <input type="submit" value="Submit">
    <br>
    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <br>

</form>
</body>
</html>